/*   ESTILO PARA LA CABECERA*/

body{
	margin:0px;
	padding:0px;
}
.container{
	padding:0px;
	margin:0px;
	width:auto;
	background-color:#224349;
	background: -webkit-linear-gradient(left,#0e1b1d 0%,#1b393e 60%,#335156 100%);
	background: -moz-linear-gradient(left,#0e1b1d 0%,#1b393e 60%,#335156 100%)
	/*
	background:#525050;*/
}
header{
	width: 100%;
	height: 200px;
}
figure{
	margin:0px;
	padding:0px;
	display:inline-block;
	width:100%;
	height:100%;
}
figure img{
	width:100%;
	height: 200px;
}
.menubtn{
	display: none;
}
.home{
	position:fixed;
	cursor:pointer;
	width:42px;
	height:42px;
	border-radius:8px;
	opacity:.7;
}
.home:hover{
	    box-shadow: -1px 3px 9px #6495aa;
	    transform: rotate(360deg);
	    transition: 1s;
}
/*   ESTILO PARA EL MENU*/
menu{
	margin:0px;
	padding:0.3%;
	width:auto;
	height: 113px;
	margin-bottom: 30px;
	background-color:#525050;
	background: -webkit-linear-gradient(left,#0e1b1d 0%,#1b393e 60%,#335156 100%);
	background: -moz-linear-gradient(left,#0e1b1d 0%,#1b393e 60%,#335156 100%)
}
.menu div{
	background-color:#86193A;
	/*background-color:#EE4470;*/
	border:#000000e0 2px solid;
	float:left;
	width:32.9%;
	height:35px;  
	text-align:center;
	border-radius:10%;
	cursor: pointer;
	color: #c0c1c1;
	font-size: 15px;
	background: -webkit-linear-gradient(left,#86193A 0%,#1b393e 60%,#335156 100%);
	background: -moz-linear-gradient(left,#86193A 0%,#1b393e 60%,#335156 100%);


	border: #c0c1c1 2px solid;
	color: #c0c1c1;
	border-radius:10%;
    box-shadow: 2px 2px 16px #c0c1c1;
    background: -webkit-linear-gradient(left,#335156 0%,#00202d 60%,#690426 100%);
}
.menu div:hover{
	transform:scale(1.05);
	transition:1.3s;
}
/*    ESTILO PARA EL CUERPO DEL DOCUMENTO */
.body{
	margin:0px 32px;
	width:62%;
	float:left;
}
.top{
		height:90px;
		border-bottom: 2px solid #dcdc;
	}
.body h1{
	display:inline-block;
	margin:0px;
	padding:0px;
	color:#ffffff;
	text-align:center;
	font-size:36px;
	width:100%;
	margin:0px auto;
    text-shadow: 1px 1px 4px;
}
.body p{
	padding:5%;
	text-shadow: 1px 1px 11px;
	/*border:#EE4470 3px solid;*/
	border:#690426 3px solid;
	border-radius:2%;
	background-color:#C0C1C1;
	font-size:16px;
	font-family: cursive;
	box-shadow: 9px 7px 20px #690426b8;
	text-align: center;
}
*::selection{
	color: #d28411;
	background-color: black;
}  
.titulop{
	color: #224349;
	font-size: 35px;
}
.body img{
	padding:2px;
	border:#6C6E6E 2px solid;
	border-radius:10%;
	width:50%;
	box-shadow: 4px 4px 30px;
}
.body img:hover{
	transition:.4s;
	transform: scale(1.15);
    box-shadow: 2px 2px 25px #ffffff96;
}
.body .little{
	padding:2px;
	border:#6C6E6E 2px solid;
	border-radius:10%;
	width:29%;
	margin:1%;
	text-align:center;
}
.body .little:hover{
	transition:.4s;
	transform: scale(1.15);
    box-shadow: 2px 2px 25px #ffffff96;
}
.references{
	width:30%;
	float:left;
	border-bottom:#ffffff 1px solid;
	text-align: center;
	font-size:25px;
	padding-bottom:10px;
	margin-top: 0px;
	margin-bottom:20px;
}
.references ul{
	list-style: none;
	background:#690426 ;
	border: #0E0E0E 2px solid;
    box-shadow: 2px 2px 25px #d2841152;
	border-radius:4%;
	margin:20px 2px;
	padding:inherit;
}
.references li{
	font-size: 20px;
	margin: 10px 0px;
	padding: 10px 25px;
	border-top: 1px #ffffff solid;
	padding-bottom: 0;
}
.references h2, .references h5{
	color:#ffffff;
	text-align:center;
	margin:0px auto;
    text-shadow: 1px 1px 3px;}

.references img{
	width:100%;
	margin-top: 5px;
}
.references img:hover{
	transition:.4s;
	transform: scale(1.15);
    box-shadow: 2px 2px 25px #ffffff96;
}
video{
	width:95%;
	border: #000 2px solid;
	border-radius: 5%;
	margin: 5px 0px;
}
iframe{
	width:95%;
	height: 50%;
	border: #000 2px solid;
	border-radius: 5%;
	margin: 5px 0px;
}

/*    ESTILO PARA EL PIE*/
.footer{
	clear:both;
	color:#ffffff;
	font-size:13px;
	border-top: #690426 2px solid;
	width: auto;
	height: 117px;
	background: -webkit-linear-gradient(top,#224349 0%,#00202d 80%);
	background: -moz-linear-gradient(top,#224349 0%,#00202d 80%);
}
.footer img{
	display: inline-block;
	width:45px;
	height:66px;
	margin-left: 85%;
	position: relative;
	top: 22%;
	left: -5%;
}
.footer cite{
	display: inline-block;
	width: fit-content;
	position: relative;
	top: 12%;
	left: 5%;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/* MEDIA QUERYZ   PARA LONGS PC*/
@media screen and (max-width:1460px){
	.references h5{
		font-size: 20px;
	}

	.references h4{
		margin: 15px;
	}
	.footer img{
		top: -22%;

	}
	.footer cite{
		top: 33%;
		left: 5%;
	}
}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/* MEDIA QUERY   PARA PC*/
@media screen and (max-width:950px){
	body{
		margin:0px;
		padding:0px;
		/*
		background:gray;
		background:#183f46;  #1e4248(para el body)
		videos ejemplos   #58031f(para el menu y video y bordes del parrafo        */	
	}
	.container{
		padding:0px;
		margin:auto;
		width:auto;
	}
	figure{
		margin:0px;
		padding:0px;
		display:inline-block;
		width:100%;
		height:100%;
	}
	figure img{
	    width:100%;
	    height: 200px;
	}

	/*   ESTILO PARA EL MENU*/
	menu{
		margin:0 auto;
		padding:inherit;
		width:100%;
		margin-bottom:20px;	
	}
	.menu div{
		border:#0E0E0E 2px solid;
		float:left;
		width:32.8%;
		height:34px;
		text-align:center;
		border-radius:10%;
	}
	.menu div:hover{
		background-color:black;
		border:#C0C1C1 2px solid;
		color:#ffffff;
		float:left;
		border-radius:10%;
		transform:scale(1.01);
		transition:1.3s;
	}
	/*    ESTILO PARA EL CUERPO DEL DOCUMENTO */
	.body{
		margin:0px 3%;
		width:60%;

		float:left;
	}
	.titulop{
		font-size: 30px;
	}
	.body h1{
		display:inline-block;
		margin:0px;
		padding:0px;
		color:#ffffff;
		text-align:center;
		width:100%;
		margin:0px auto;
	}
	.body p{
		padding:10%;
		border-radius:2%;
		background-color:#C0C1C1;
		font-size:12px;
		margin-top:20px;
	}
	.body img{
		padding:2px;
		border:#6C6E6E 2px solid;
		border-radius:10%;
		width:60%;
		margin:auto 3%;
	}
	.body .little{
		padding:2px;
		border:#6C6E6E 2px solid;
		border-radius:10%;
		margin:1%;
		text-align:center;
	}

	.references{
		width:28%;
		float:left;
		border-bottom:#ffffff 1px solid;
		text-align: center;
	}
	.references li,.references h5{
		font-size: 15px;
	}
	.references h4{
		margin: 10px;
	}
	.references h2{
		color:#ffffff;
		text-align:center;
		margin:0px auto;
	}
	iframe{
		height:90px;
	}
	.footer{
		height: 100%;
	}
	.footer cite{
		top:25px;
	}
	.footer img{
		width: 45px;
		height: 60px;
		top: -30px;
	}

	/*    ESTILO PARA EL PIE */

}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/* MEDIA QUERY2   PARA SHORT PC*/
@media screen and (max-width:808px){

	.body h1{
		font-size: 30px;
	}
	.titulop {
	    font-size: 20px;
	}
	.references h2{
		font-size: 25px;
	}
	.references h5{
		font-size: 12px;
	}
	.references h4, .references li{
		font-size: 13px;
	}
	.references li{
		padding: 10px 10px;
	}
	/*   ESTILO PARA EL MENU*/
	menu{
		margin:0 auto;
		margin-bottom:20px;
		text-align: center;
		align-content: center;
		padding:0px;
		display:inline-block;
		width:100%;
		
	}
	.menu div{
		border:#0E0E0E 2px solid;
		float:left;
		width:32.5%;
		height:33px;
		text-align:center;
		border-radius:10%;
		font-size: 13px;
	}
	.body .little{
		width: 28%;
	}
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* MEDIA QUERY3   PARA TABLETS*/
@media screen and (max-width:600px){
	menu{
		height: 90px;
		margin-bottom:10px;
	}
	.menu div{
	    font-size: 10px;
	    width:32.2%;
	    height: 26px;
	}

	.titulop{
		font-size: 15px;
	}
	.top{
		height: 60px;
	}
	.body h1{
	    font-size: 20px;
	}
	.body .little{
		width: 44%;

	}
	.references{
		width:28%;
		float:left;
		border-bottom:#ffffff 1px solid;
		text-align: center;
		font-size:25px;
	}
	.references ul{
		list-style: none;
		background:#690426 ;
		border: #0E0E0E 2px solid;
		border-radius:3%;
		margin:20px 2px;
	    font-size: 10px;
	}
	.references ul:last-child{
		margin-bottom: 0;
	}
	.references h2{
	    font-size: 17px;
	}
	.references h4{
	    font-size: 12px;
	}
	.references h5{
	    font-size: 10px;
	}
	.references li{
		margin: 0;
		font-size: 11px;
	}
	video{
		width:90%;
		border: #000 2px solid;
		border-radius: 5%;
		margin: 5px 0px;
	}
	iframe{
		width:90%;
		border: #000 2px solid;
		border-radius: 5%;
		margin: 5px 0px;
		height: 60px;
	}
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/* MEDIA QUERY4   PARA SMARTH PHONES
@media screen and (max-width:460px){
	.home{
		width:25px;
		height:25px;
		border-radius:3px;
		opacity:.7;
	}
	header{
		width: 100%;
		height: 120px;
	}
	figure img{
		margin:0px;
		padding:0px;
	}
	.header img{
		width:100%;
		height:120px;
	}
	menu{
		height: 72px;
	}
	.menu div{
		margin:0px;
		font-size:8px;
		width:32%;
		height: 20px;
		border:#0E0E0E 2px solid;
	}
	.body p{
		font-size:8px;
		padding:20px;
		border:#690426 1.8px solid;
	}
	.body h1{
		font-size:17px;
		margin: 0px 3%;
	}
	.body .little{
		width:42%;
		border:#6C6E6E 1px solid;
	}
	.body img{
		border:#6C6E6E 1px solid;
	}
	.references h4{
		font-size:10px;
	}
	.references ul{
		border: #000 1px solid;
	}
	.references li{
		font-size:9px;
		margin:0px;
	}
	video{
		width:80%;
		height: 60px;
	}
	iframe{
		width:80%;
		height: 60px;
	}
	.footer{
		clear:both;
		color:#ffffff;
		font-size:6px;
		border-top: #690426 2px solid;
		width: auto;
		height: 55px;
	}
	.footer img{
		display: inline-block;
		width:30px;
		height:40px;
		margin-left: 85%;
		position: relative;
		top: -22%;
	}
	.footer cite{
		display: inline-block;
		width: fit-content;
		position: relative;
		top: 33%;
		left: 5%;
	}
}                    */

@media screen and (max-width:460px){
	.menubtn{
		cursor: pointer;
		display: inline-block;
		width: 25px;
		position: fixed;
		top: 3px;
		left: 6px;
		z-index: 3;
	}
	.home{
		position: fixed;
		width: 25px;
		height: 25px;
		left: 90%;
		top: 3px;
		z-index: 3;
	}
	header{
		width: 100%;
		height: 120px;
	}
	figure img{
		margin:0px;
		padding:0px;
	}
	.header img{
		width:100%;
		height:120px;
	}
	menu{
		display: flex;
    	align-items: center;
    	height: auto;
    	margin-bottom: 0;
	}
	nav{
		width: 100%;
	    position: fixed;
	    left: -105%;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    display: flex;
	    align-items: center;
	    transition: .34s;
	    z-index: 2;
	    background: -webkit-linear-gradient(left,#1e4248 0%,#1e4248 60%,#335156 100%);
	}
	.active{
		left: 0;	
	}
	.menu div:first-child{
	    border-top: 1px #929292 solid;
	}
	.menu div{
		width: 100%;
	    color: #e81b59;
	    text-align: justify;
	    font-size: 12px;
	    border: none;
	    border-radius: initial;
	    box-shadow: none;
	    border-bottom: 1px #929292 solid;
	    padding: 5px;
	    height: 35px;
	    background: -webkit-linear-gradient(left,#12282b 0%,#1e4046 60%,#324f54 100%);
	}
	.top {
	    height: 45px;
	    margin-top: 20px;
	}
	.body p{
		font-size:8px;
		padding:20px;
		border:#690426 1.8px solid;
	}
	.body h1{
		font-size:17px;
		margin: 0px 3%;
	}
	.body .little{
		width:42%;
		border:#6C6E6E 1px solid;
	}
	.body img{
		border:#6C6E6E 1px solid;
	}
	.references h4{
		font-size:10px;
	}
	.references ul{
		border: #000 1px solid;
	}
	.references li{
		font-size:9px;
		margin:0px;
	}
	video{
		width:80%;
		height: 60px;
	}
	iframe{
		width:80%;
		height: 60px;
	}
	.footer{
		clear:both;
		color:#ffffff;
		font-size:6px;
		border-top: #690426 2px solid;
		width: auto;
		height: 55px;
	}
	.footer img{
		display: inline-block;
		width:30px;
		height:40px;
		margin-left: 85%;
		position: relative;
		top: -22%;
	}
	.footer cite{
		display: inline-block;
		width: fit-content;
		position: relative;
		top: 33%;
		left: 5%;
	}
}
